.banner-container {
    margin: 12px;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hombrew-bg{
  background-image: url('../pictures/homebrew.jpg');
  background-size: cover;
  background-position: center;
  position: relative;

}