.card-with-seeker-bg {
	background-image: url('../pictures/seeker.jpg');
	background-size: cover;
	background-position: center;
	position: relative;
}

.card-with-entertainer-bg {
	background-image: url('../pictures/entertainer.jpg');
	background-size: cover;
	background-position: center;
	position: relative;
}

.card-with-tinkerer-bg {
	background-image: url('../pictures/tinkerer.jpg');
	background-size: cover;
	background-position: center;
	position: relative;
}

.card-with-seeker-bg::before,
.card-with-entertainer-bg::before,
.card-with-tinkerer-bg::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.cardHighlight .text-white {
	color: #ffffff;
}

.cardHighlight .card-body {
	position: relative;
	z-index: 1;
	padding: 20px;
}
